
*{
    color: rgb(208, 209, 213);
}
body {
    background-color: #1e1c1c;
    font-family: Arial, sans-serif;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
  
  header img {
    height: 60px;
    margin-right: 10px;
  }
  
  h1 {
    font-size: 32px;
    margin: 0;
    color: #111;
  }
  
  main {
    width: 500px;
    margin: 0 auto;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin-top: 20px;
  }
  
  h2 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: cyan;
  }