
.caja {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid lightblue;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 900px;
    font-family: sans-serif;
    margin-bottom: 100px;
}

.caja p {
    margin-right: 80px;
    font-size: 25px;
    margin-bottom: 10px;
}

.caja img {
    width: 300px;
    height: auto;
}

p {
    color: whitesmoke;
}



