
.caja {
    border: 5px solid lightblue;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-family: sans-serif;
    margin: 5% 10% 5% 14%;
    border: 20% 20% 20% 20%;
    max-width: 70%;
}

.caja p {
    margin-right: 80px;
    font-size: 25px;
    margin-bottom: 10px;
}

.caja img {
    width:300px;
    height: auto;
    min-width: 200px;
}

p {
    color: whitesmoke;
}



