.navBar-brand p {
    font-size: 1.75em;
}

.navBar-brand span {
    color: #8db5ff;
}

.navBar-container {
    display: flex;
    font-size: 1.5em;
}

.navBar-container Nav.Link {
    color: whitesmoke;
}